.auth-layout-container {
    width: 100%;
    height: 100vh;
    display: flex;
    font-family: "Inter", sans-serif;
  }
  
  .auth-layout-left-panel {
    width: 50vw;
    height: 100vh;
    background: linear-gradient(135deg, #21c8b2, #159c87);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-sizing: border-box;
  }
  
  .auth-layout-left-content {
    width: max-content;
    max-width: 320px;
    text-align: center;
  }
  
  .auth-layout-title {
    font-weight: 700;
  }
  
  .auth-layout-subtext {
    opacity: 0.9;
  }
  
  .auth-layout-signin-btn {
    padding: 10px 30px;
    background: white;
    color: #159c87;
    font-weight: 600;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    margin: 0 auto;
  }
  
  .auth-layout-signin-btn:hover {
    background: #f5f5f5;
  }
  .auth-layout-right-panel {
    width: 50%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    box-sizing: border-box;
  }
  
  .auth-layout-outlet-wrapper {
    width: 100%;
    max-width: 360px;
  }
  