.home-layout-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
  }
  
  .home-layout-main {
    height: calc(100vh - 50px);
    width: 100vw;
    overflow-y: auto;
    padding: 1rem;
    background-color: #f9fafb;
  }
  